.listregister3em {
    background-color: #FFF;
    margin-top: 30px;
    padding: 40px;
}

.listregister3em h2 {
    margin-bottom: 30px;
}

.listregister3em ul li {
    list-style-type: none;
    display: inline;
    margin-left: 40px;
}

.userinfo {
    margin-bottom: 50px;
}

.userinfo button {
    margin-left: 40px;
    cursor: pointer;
}